.row-in {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#scroller {
	height: 100%;
}

#mapView {
	height: 500px;
	width: 100%;
	position: absolute !important;
}

#bus-list {
	padding: 0 25%;
}

.bus-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.bus-time {
	width: 107px !important;
}

.bus-right {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex:  1;
	padding-right: 5px;
}

.bus-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topminus5 {
	margin-top: -5px;
}

.transition-container {
	-webkit-transition: all .5s ease-in;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

[role=navigation]{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}

.page {
	width: 100%;
	position: absolute;
}

.page-show-map {
	-webkit-transform: translateX(-100%);
}

.page-show-shared {
	-webkit-transform: translateX(-200%); 
}

.page-show-list {
	-webkit-transform: translateX(0%); 
}

.markerLabel{
	white-space: nowrap; 
	border: 1px outset #000; 
	padding: 2px 5px; 
	background-color: #333; 
	border-radius: 5px; 
	font-weight: bold; 
	color: #eee;
}

.line-title {
	width: 100%;
	padding: 0 .5em;
	position: absolute;
	top: 65px;
	text-align: center;
	color: #fff;
	margin-left: 0px;
	margin-right: 0px;
	text-shadow: #000 1px 1px 1px;
	font-weight: bold;
	font-size: 1.3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media (max-width: 47em) {
	#bus-list {
		padding: 0 2em;
	}
	.line-title {
		width: 90%;
		font-size: 1em;
		margin-left: 5%;
		margin-right: 5%;
	}
}